body {
	
	height: 120px;

	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	  background-size: 400% 400%;
	  -webkit-animation: gradient 15s ease infinite;
		  animation: gradient 15s ease infinite;
	

	background-repeat: no-repeat;
	background-attachment: fixed;
	
	text-align: center;
	width: 100vw;
	font-weight: 700;
	overflow: hidden;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.thumbnail {
	height: 100px;
	width: 200px;
	background: rgba(0,0,0,0.0);
	border: none;
}

.item {

            text-align: center;
            height: 300px;
	
}

h3 {
	
	color: azure;
	
	font-size: 8px;
}




@media (max-height: 53px) {
 
  .item {
	height: 95px;
  }

  h3 {
	font-size: 13px;
  }

  p {
	font-size: 10px;
  }
 

}
.center-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}
